<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a href="" class="navbar-brand">
      <img src="https://oesv2.textusintentio.com/images/logo/your%20school.png" height="40px" alt="">

      </a>
      
      <h1 class="text-light">Welcome to Online Examination</h1>
      
      <button class="navbar-toggler navbar-toggler-icon" data-toggle="collapse" data-target="#x">
         <!-- <span class="navbar-toggler-icon" data-toggle="collapse" data-target="#x"></span> -->
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="x">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="home" class="nav-link">HOME</a>
        </li>
        <li class="nav-item">
          <a routerLink="login" class="nav-link">LOGIN</a>
        </li>
         
            <li class="nav-item">
              <a routerLink="aboutus" class="nav-link">ABOUTUS</a>


            </li>
          </ul>
      </div>


    </nav>

  </div>


   
</body>
</html>


<router-outlet></router-outlet>