<div class="container">
    <div>
    
      <div>
         <div class="row">
        
              
             <div class="col-md-4 offset-md-4" style="margin-top: 100px;">
                 
                        
               <form #form="ngForm" (ngSubmit)= "getdetails(form.value)">           
                 <div class="text-center">                
                <img class="mb-4" src="https://www.sakshieducation.com/Onlinetests/images/icon4.png" alt="" width="72" height="72">
                </div>
                <br>
                <div class="text-center">
                <input type="radio" name="role" value="admin" id="" ngModel>ADMIN
                <input type="radio" name="role" value="student" id="" ngModel>STUDENT     
                </div>
                <br>
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label>Enter Username</label>
                <input type="text" id="" class="form-control" name="username" placeholder="Enter Username" #username="ngModel" ngModel required>
                <label>Enter Password</label>
                <input type="password" id="" class="form-control" name="password" placeholder="Enter Password" #pasword="ngModel" ngModel required>
                <div class="checkbox mb-3">
                  <label>
                    <input type="checkbox" value="remember-me"> Remember me
                  </label>
                </div>
                <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
        
                  
                  </form>
                 </div>

                </div>

                


         </div>


      </div>




    



  
</div>