<button class="btn btn-success" data-toggle="collapse" data-target="#x">click here to start exam</button>

<div class="collapse" id="x">
     <div class="jumbotron mt-5">
   
  <h1>Instructions:</h1>

  <p>This is a FREE online test. DO NOT pay money to anyone to attend this test.
    <br>
    Total number of questions : 10.
    <br>
    Time alloted : 30 minutes.
    <br>
    Each question carry 1 mark, no negative marks.
    <br>
    DO NOT refresh the page.</p>

    <div class="text-center">
        <button class="btn btn-danger" (click)="writeexam1()">TAKE TEST</button>
    </div>
  </div>
</div>



