<div>
    
<div id="demo" class="carousel slide  " data-ride="carousel" >

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.conductexam.com/images/online-exam-system.png"  style="width:1600px; height:500px ;"  alt="">
      </div>
      <div class="carousel-item">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSHuZhfWhRWhWOdlW8hCTj-MilruB3nVyuIircv997_tbpucE6X " style="width:1600px; height:500px ;"   alt="">
      </div>
      <div class="carousel-item">
        <img src="http://www.jneath.com/uploads/courses/course1550320714.jpg" style="width:1600px; height:500px ;"  alt="">
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column bg-dark">
    <header class="masthead mb-auto">
      <div class="inner">
        
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </header>
  
    <main role="main" class="inner cover">
      <h1 class="cover-heading text-light text-center">Exam</h1>
      <p class="lead text-light">Online examination is conducting a test online to measure the knowledge of the participants on a given topic. ... With online examination students can do the exam online, in their own time, with their own device, regardless of where they live. You only need a browser and an internet connection.</p>
      <p class="lead text-center">
        <a href="#" class="btn btn-lg btn-secondary  ">Learn more</a>
      </p>
    </main>
  
    <footer class="mastfoot mt-auto">
      <div class="inner text-center">
        
      </div>
    </footer>
  </div>
  
  

</div>

